
@model WebBook.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div>
    <hr />
    <dl class="row">
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class ="btn btn-secondary" style="width:150px" >Edit</a>
    <a asp-controller="Category" asp-action="Index" class ="btn btn-secondary" style="width:150px">Back to list</a>
</div>
